body
  {
    background: #f0f0ff;
    font-family: sans-serif;
  }


/* I don't understand why font-family is not inherited from body */
td
  {
    font-family: verdana, sans-serif;
  }
  
h1
  {
    background: darkblue;
    color: white;
    border: solid thin white;
    padding: 0.25em;
  }
				
#subtitle  { font-style: italic; font-weight: bold }


th
  { 
    background: darkblue;
/*    padding: 0.5em; */
    color: white;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 120%;
  }

